@{
    ViewBag.Title = "Home Page";
}

<html>

<body>

    <header>
        <h1>Tienda en línea</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="~/Views/Home/Contact.cshtml">Contacto</a></li>
                <li><a href="~/Views/Login/Login.cshtml"> Login </a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="producto">

            <img src="/Imagenes/baltica.jpg" alt="Producto 1" class="imagenProducto">
            <h2>Producto 1</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/miller.jpg" alt="Producto 2" class="imagenProductoExtenso">
            <h2>Producto 2</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/kruek max.jpg" alt="Producto 3" class="imagenProducto">
            <h2>Producto 3</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/corona.jpg" alt="Producto 4" class="imagenProducto">
            <h2>Producto 4</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/dorada.jpg" alt="Producto 5" class="imagenProductoExtenso">
            <h2>Producto 5</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/heineken.jpg" alt="Producto 6" class="imagenProductoExtenso">
            <h2>Producto 6</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/cristal.jpg" alt="Producto 7" class="imagenProductoExtenso">
            <h2>Producto 7</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

        <div class="producto">

            <img src="/Imagenes/patagonia.jpg" alt="Producto 8" class="imagenProductoExtenso">
            <h2>Producto 8</h2>
            <p>Precio: </p>
            <button>Agregar al carrito</button>

        </div>

    </main>

</body>
</html>